<nav class="navbar navbar-inverse navbar-fixed-top ">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to("WAZDE", root_path , class: "navbar-brand") %>
      <!-- <a class="navbar-brand" href="#">
        WAZDE
      </a> -->
    </div>
    <form action="/search" method="get" class="navbar-form navbar-right" role="search">
	  <div class="form-group">
	    <input type="text" name="id" class="form-control" placeholder="Search">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
  </div>
</nav>

<div class="container-fluid">
	<div class="row no-gutter">
		<div class="col-sm-12 text-center">
			<div class="user_background"></div>
			<!-- Change this default image -->
			<div class="user_info">
				<%=image_tag(@user.full_avatar_url, class: "user_image") %>
				<h1><%= @user.nickname %></h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row profile_info">
		<div class="col-sm-12 col-md-6 text-center">
			<h3>Member Since: <span><%= @user.member_since.strftime("%m/%d/%Y")%></span></h3>
		</div>
		<div class="col-sm-12 col-md-6 text-center">
			<h3>Status: <span><%= @user.state_message.gsub('Last Online:', 'Last Online')%></span></h3>
		</div>
	</div>

	<div class="row jumbotron">
		<div class="col-sm-12 text-center games_owned">
			<h3>Total Games Owned: <span><%= @user.games.count%></span></h3>
		</div>
		<div class="col-sm-12 text-center">	
			<ul>
			<div class="row">
				<%@user.games.each do |index,game| %>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
						<li class="game_entry center-block">
							<%= link_to image_tag(game.logo_url), "http://store.steampowered.com/app/#{game.app_id}/" %>
							<h4><%= game.name %></h4>

						</li>
					</div>
				<% end %>
			</div>
			</ul>
		</div>
	</div>
	<div class="row footer">
		<div class="col-sm-12 text-center">
			<h3>Steam ID: <span><%= @user.steam_id64%></span></h3>
		</div>		
	</div>
</div>